.card, .card-group {
    margin-bottom: 1rem;
}

.card {
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.05);
    box-shadow: 0 2px 3px rgba(0,0,0,.05);
}

.card-header:first-child {
    border-radius: 2px 2px 0 0;
}

.bg-white {
    background: #fff;
}
.card-body, .card-footer, .card-header {
    padding: .625rem;
}
.card-footer, .card-header {
    color: rgba(0,0,0,.84);
}
.card-title {
    font-size: 1.25rem;
}
.card-subtitle {
    color: #818a91;
}

.card__options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: .625rem;
    top: .625rem;
}

.btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.btn-group-sm>.btn, .btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.btn-group-sm>.btn .material-icons, .btn-sm .material-icons {
    font-size: 16px;
}

.card .media-left {
    padding-right: .625rem;
}

#page-content-wrapper {
    padding: 15px;
    width: 100%;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}
.couser {
    float: left;
    margin-left: 10px;
}
.mdk-drawer-layout__content > .container-fluid {
    max-width: calc(900px + 1.25rem);
}
.container, .container-fluid {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}