<div id="page-content-wrapper">
  <div class="mdk-drawer-layout__content">
      <div class="container-fluid " style="margin-top: 65px">
          <ol class="breadcrumb">
              <li class="breadcrumb-item">
                  <a href="instructor-dashboard.html">Home</a>
              </li>
              <li class="breadcrumb-item active">Couse</li>
          </ol>

          <div class="row">
            <div class="card couser" style="width: 18rem;">
              <div class="card-header bg-white">
                  <div class="media">
                      <div class="media-left media-middle">
                          <a href="#">
                              <img src="assets/images/vuejs.png" alt="Card image cap" width="100" class="rounded">
                          </a>
                      </div>
                      <div class="media-body media-middle">
                          <h4 class="card-title">
                              <a href="#">Learn VueJs</a>
                          </h4>
                          <span class="badge badge-primary ">$1230</span>
                          <span class="badge badge-light ">34 SALES</span>
                      </div>
                      <div class="media-right media-middle">
                          <a href="#" class="btn btn-sm btn-default">Edit</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card couser" style="width: 18rem;">
              <div class="card-header bg-white">
                  <div class="media">
                      <div class="media-left media-middle">
                          <a href="#">
                              <img src="assets/images/vuejs.png" alt="Card image cap" width="100" class="rounded">
                          </a>
                      </div>
                      <div class="media-body media-middle">
                          <h4 class="card-title">
                              <a href="#">Learn VueJs</a>
                          </h4>
                          <span class="badge badge-primary ">$1230</span>
                          <span class="badge badge-light ">34 SALES</span>
                      </div>
                      <div class="media-right media-middle">
                          <a href="#" class="btn btn-sm btn-default">Edit</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card couser" style="width: 18rem;">
              <div class="card-header bg-white">
                  <div class="media">
                      <div class="media-left media-middle">
                          <a href="#">
                              <img src="assets/images/vuejs.png" alt="Card image cap" width="100" class="rounded">
                          </a>
                      </div>
                      <div class="media-body media-middle">
                          <h4 class="card-title">
                              <a href="#">Learn VueJs</a>
                          </h4>
                          <span class="badge badge-primary ">$1230</span>
                          <span class="badge badge-light ">34 SALES</span>
                      </div>
                      <div class="media-right media-middle">
                          <a href="#" class="btn btn-sm btn-default">Edit</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card couser" style="width: 18rem;">
              <div class="card-header bg-white">
                  <div class="media">
                      <div class="media-left media-middle">
                          <a href="#">
                              <img src="assets/images/vuejs.png" alt="Card image cap" width="100" class="rounded">
                          </a>
                      </div>
                      <div class="media-body media-middle">
                          <h4 class="card-title">
                              <a href="#">Learn VueJs</a>
                          </h4>
                          <span class="badge badge-primary ">$1230</span>
                          <span class="badge badge-light ">34 SALES</span>
                      </div>
                      <div class="media-right media-middle">
                          <a href="#" class="btn btn-sm btn-default">Edit</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card couser" style="width: 18rem;">
            <div class="card-header bg-white">
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img src="assets/images/vuejs.png" alt="Card image cap" width="100" class="rounded">
                        </a>
                    </div>
                    <div class="media-body media-middle">
                        <h4 class="card-title">
                            <a href="#">Learn VueJs</a>
                        </h4>
                        <span class="badge badge-primary ">$1230</span>
                        <span class="badge badge-light ">34 SALES</span>
                    </div>
                    <div class="media-right media-middle">
                        <a href="#" class="btn btn-sm btn-default">Edit</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card couser" style="width: 18rem;">
            <div class="card-header bg-white">
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img src="assets/images/vuejs.png" alt="Card image cap" width="100" class="rounded">
                        </a>
                    </div>
                    <div class="media-body media-middle">
                        <h4 class="card-title">
                            <a href="#">Learn VueJs</a>
                        </h4>
                        <span class="badge badge-primary ">$1230</span>
                        <span class="badge badge-light ">34 SALES</span>
                    </div>
                    <div class="media-right media-middle">
                        <a href="#" class="btn btn-sm btn-default">Edit</a>
                    </div>
                </div>
            </div>
        </div>
          <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
                </nav>
          </div>
      </div>
  </div>

</div>