#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

@media(max-width:414px){
    #wrapper.tenkhac {
        padding-left: 250px !important;
    }
    #wrapper.toggled {
        padding-left: 0px;
    }
    .permanent{
        position: fixed
    }
}