
<app-header></app-header>
<div id="wrapper" class="toggled">
    <div class="container-fluid" id="codinhdiv">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
    </div>
</div>