<div id="page-content-wrapper">
  <div class="mdk-drawer-layout__content">
    <div class="container-fluid ">
      <div class="col-md-12 card">
        Admin Dashboard
      </div>
      <div class="col-md-12 card" id="seachcar">
        <div class="col-md-4">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-8">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Favorite food" value="Sushi">
                </mat-form-field>
              
                <mat-form-field class="example-full-width">
                  <textarea matInput placeholder="Leave a comment"></textarea>
                </mat-form-field>
              </form>
        </div>
      </div>
    </div>
  </div>

</div>