<!-- Sidebar -->
<div id="sidebar-wrapper" class="width250on">
    <div class="mdk-drawer__scrim"></div>
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            Thông tin cơ bản
        </li>
        <li>
            <a href="#">
                <i class="fa fa-address-book" style="font-size: 20px"></i>
                <span style="font-size: 16px">Học sinh</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-graduation-cap" style="font-size: 20px"></i>
                <span style="font-size: 16px">Đào tạo</span>
            </a>
        </li>
        <li class="sidebar-brand">
            Cơ cấu
        </li>
        <li>
            <a href="#">
                <i class="fa fa-th-large" style="font-size: 20px"></i>
                <span style="font-size: 16px">Quản lý</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-th-large" style="font-size: 20px"></i>
                <span style="font-size: 16px">Thao tác</span>
            </a>
        </li>
        <li class="sidebar-brand">
            Chương trình
        </li>
        <li>
            <a href="#">
                <i class="fa fa-book" style="font-size: 20px"></i>
                <span style="font-size: 16px">Bài giảng</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-question-circle" style="font-size: 20px"></i>
                <span style="font-size: 16px">Câu hỏi</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-globe" style="font-size: 20px"></i>
                <span style="font-size: 16px">Thông tin cá nhân</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-address-book" style="font-size: 20px"></i>
                <span style="font-size: 16px">Cài đặt cá nhân</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-commenting" style="font-size: 20px"></i>
                <span style="font-size: 16px">Tin nhắn</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-unlock-alt" style="font-size: 20px"></i>
                <span style="font-size: 16px">Đăng xuất</span>
            </a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->