<div id="page-content-wrapper">
    <div class="mdk-drawer-layout__content">
        <div class="container-fluid ">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="instructor-dashboard.html">Home</a>
                </li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>

            <div class="row">
                <div class="col-lg-6">
                    <div class="row" style="margin-bottom:30px ">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="content-card">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <i class="fa fa-cogs fa-4x" aria-hidden="true"></i>
                                            </div>
                                            <div class="col-md-9 text-right">
                                                <p style="font-size: 28px">125</p>
                                                <hr>
                                                <p>3 Chương trình ĐT mới</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="content-card">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <i class="fa fa-book fa-4x" aria-hidden="true"></i>
                                            </div>
                                            <div class="col-md-9 text-right">
                                                <p style="font-size: 28px">2350</p>
                                                <hr>
                                                <p>3 khóa học mới</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="content-card">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <i class="fa fa-users fa-4x" aria-hidden="true"></i>
                                            </div>
                                            <div class="col-md-9 text-right">
                                                <p style="font-size: 28px">2350</p>
                                                <hr>
                                                <p>100 mới</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="content-card">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <i class="fa fa-user fa-4x" aria-hidden="true"></i>
                                            </div>
                                            <div class="col-md-9 text-right">
                                                <p style="font-size: 28px">2350</p>
                                                <hr>
                                                <p>đỗi ngũ giáo viên 3 chấm</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header bg-white">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="card-title">Kế hoạch đào tạo</h4>
                                </div>
                                <div class="media-right media-middle">
                                    <button type="button" class="btn btn-sm btn-primary" data-toggle="collapse" data-target="#demo">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="demo" class="collapse show">
                            <table class="table table-middle text-center">
                                <thead>
                                    <th class="text-left">Tên khóa học</th>
                                    <th class="text-left">Giảng viên</th>
                                    <th class="text-left">Thời gian khai giảng</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-left">
                                            Khóa học A
                                        </td>
                                        <td class="text-left">
                                            Nguyễn Văn A
                                        </td>
                                        <td class="text-left">
                                            còn 3 ngày
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">
                                            Khóa học B
                                        </td>
                                        <td class="text-left">
                                            Nguyễn Văn b
                                        </td>
                                        <td class="text-left">
                                            còn 5 ngày
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">
                                            Khóa học C
                                        </td>
                                        <td class="text-left">
                                            Nguyễn Văn
                                        </td>
                                        <td class="text-left">
                                            25/08/2017
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">
                                            Khóa học đào tạo trực tuyến
                                        </td>
                                        <td class="text-left">
                                            Nguyễn Văn
                                        </td>
                                        <td class="text-left">
                                            30/08/2017
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header bg-white">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="card-title">Giảng viên được đánh giá cao nhất</h4>
                                </div>
                                <div class="media-right media-middle">
                                    <button type="button" class="btn btn-sm btn-primary" data-toggle="collapse" data-target="#demo1">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="demo1" class="collapse show">
                            <table class="table table-middle text-center">
                                <thead>
                                    <th class="text-left">Tên giảng viên</th>
                                    <th class="text-left">Số khóa học tham gia</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-left">
                                            Nguyễn Văn A
                                        </td>
                                        <td class="text-left">
                                            <span class="badge badge-pill  badge-primary ">200</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">
                                            Nguyễn Văn B
                                        </td>
                                        <td class="text-left">
                                            <span class="badge badge-pill  badge-primary ">150</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">
                                            Nguyễn Văn C
                                        </td>
                                        <td class="text-left">
                                            <span class="badge badge-pill  badge-primary ">100</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">
                                            Nguyễn Văn D
                                        </td>
                                        <td class="text-left">
                                            <span class="badge badge-pill  badge-primary ">50</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header bg-white">
                            <h4 class="card-title">Tỉ lệ đỗ trượt</h4>
                        </div>
                        <div class="card__options">
                            <a href="instructor-earnings.html" class="btn btn-sm btn-primary">
                                <i class="material-icons">trending_up</i>
                            </a>
                        </div>
                        <div class="card-body">
                            <canvas mdbChart [chartType]="chartType" [data]="chartData" [labels]="chartLabels" [colors]="chartColors" [options]="chartCircleOptions"
                                [legend]="true" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header bg-white">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="card-title">Chương trình đào tạo đang diễn ra</h4>
                                </div>
                                <div class="media-right media-middle">
                                    <button type="button" class="btn btn-sm btn-primary" data-toggle="collapse" data-target="#demo2">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="demo2" class="collapse show">
                            <table class="table table-middle text-center">
                                <thead>
                                    <th class="text-left">Tên khóa học</th>
                                    <th class="text-left">Giảng viên</th>
                                    <th class="text-left">Số người đăng kí</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-left">
                                            Chương trình đào tạo a
                                        </td>
                                        <td class="text-left">
                                            Nguyễn Văn A
                                        </td>
                                        <td class="text-left">
                                            120
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">
                                            Khóa học đào tạo trực tuyến
                                        </td>
                                        <td class="text-left">
                                            Nguyễn Văn A
                                        </td>
                                        <td class="text-left">
                                            250
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">
                                            Khóa học đào tạo trực tuyến
                                        </td>
                                        <td class="text-left">
                                            Nguyễn Văn A
                                        </td>
                                        <td class="text-left">
                                            200
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">
                                            Khóa học đào tạo trực tuyến
                                        </td>
                                        <td class="text-left">
                                            Nguyễn Văn A
                                        </td>
                                        <td class="text-left">
                                            180
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">
                                            Khóa học đào tạo trực tuyến
                                        </td>
                                        <td class="text-left">
                                            Nguyễn Văn A
                                        </td>
                                        <td class="text-left">
                                            300
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header bg-white">
                            <h4 class="card-title">Danh sách khóa học được quan tâm</h4>
                        </div>
                        <div class="card__options">
                            <button type="button" class="btn btn-sm btn-primary" data-toggle="collapse" data-target="#demo3">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <div id="demo3" class="collapse show">
                            <table class="table table-middle text-center">
                                <thead>
                                    <th class="text-left">Tên CT đào tạo</th>
                                    <th class="text-left">Tiến trình</th>
                                    <th class="text-left">số học viên</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-left">
                                            Chương trình đào tạo a
                                        </td>
                                        <td class="text-left">
                                            50
                                        </td>
                                        <td class="text-left">
                                            120
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">
                                            Khóa học đào tạo trực tuyến
                                        </td>
                                        <td class="text-left">
                                            70
                                        </td>
                                        <td class="text-left">
                                            250
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">
                                            Khóa học đào tạo trực tuyến
                                        </td>
                                        <td class="text-left">
                                            90
                                        </td>
                                        <td class="text-left">
                                            200
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">
                                            Khóa học đào tạo trực tuyến
                                        </td>
                                        <td class="text-left">
                                            100
                                        </td>
                                        <td class="text-left">
                                            180
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">
                                            Khóa học đào tạo trực tuyến
                                        </td>
                                        <td class="text-left">
                                            20
                                        </td>
                                        <td class="text-left">
                                            300
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>