<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-primary" style="background: #2196f3">
    <a (click)="duma()" style="color: #ffffff;vertical-align: initial;font-size: 24px" href="#menu-toggle" class="btn btn-default"
        id="menu-toggle">
        <span class="fa fa-bars"></span>
    </a>

    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="instructor-dashboard.html" class="navbar-brand" style="color: #ffffff;font-size: 25px;">Cloud learning system</a>
            </li>
        </ul>
        <span class="navbar-text">
            <!-- Menu -->
            <ul class="nav navbar-nav">
                <!-- User dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#" role="button" style="padding: 0;color: #ffffff">
                        <img src="assets/images/people/50/guy-6.jpg" alt="Avatar" class="rounded-circle" width="40">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="instructor-account-edit.html">
                            <i class="material-icons">edit</i> Edit Account
                        </a>
                        <a class="dropdown-item" href="instructor-profile.html">
                            <i class="material-icons">person</i> Public Profile
                        </a>
                        <a class="dropdown-item" href="guest-login.html">
                            <i class="material-icons">lock</i> Logout
                        </a>
                    </div>
                </li>
                <!-- // END User dropdown -->
            </ul>
        </span>
    </div>
</nav>